html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}



.form-control {
    display: block;
    width: 100%;
    height: 30px;
    padding: 4px 9px;
    font-size: 14px;
    line-height: 1.3;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 2px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.has-success .form-control {
    background-color: #e6ffe7;
    border-color: #3c763d;
}

.has-error .form-control {
    background-color: #ffe7ef;
    border-color: #a94442;
}

.form-control:focus, .form-control:active {
    background-color: #EDFDFF;
    border-color: #8a8ea9;
}

.nav-tabs > li > a {
    border-radius: 1px 1px 0 0;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    font-weight: bold;
}

h1 {
    display: block;
    position: relative;
    margin-top: 0;
    padding: 5px 0px;
    margin-bottom: 20px;
    -moz-box-shadow: 0 2px 0 rgba(0, 0, 0, .3);
    -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, .3);
    box-shadow: 0 2px 0 rgba(0, 0, 0, .3);
}

h2, .h2 {
    font-size: 30px;
    padding: 3px 10px;
    display: inline-block;
    position: relative;
    z-index: 1000;
    margin-top: 0px;
}

h3, .h3 {
    font-size: 24px;
    color: #262626;
    padding: 2px 8px;
    display: inline-block;
    position: relative;
    z-index: 1000;
    margin-top: 0px;
}

h4, .h4 {
    color: #999;
}

#wraper {
    position: relative;
    min-height: 100%;
}

#main {
    padding-bottom: 80px;
    height: 100%;
}

header#header {
    margin-bottom: 10px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 80px;
    background-color: #15400D;
    border-color: #080808;
    border-top: 3px #000 solid;
    z-index: 10;
    color: #D0D0D0;
}


.bg {
    background: url('/images/bgparalax.jpg') repeat;
    position: fixed;
    width: 100%;
    height: 300%;
    top: 0;
    left: 0;
    z-index: -2;
}

.bg-front {
    background: url('/images/bgparalax2-min.png') repeat;
    position: fixed;
    width: 100%;
    height: 200%;
    top: 0;
    left: 0;
    z-index: -1;
}

.jBox-overlay {
    z-index: 10000;
}