html,
body {
    height: 100%;
}
body {
    background-image: url(../images/bg.jpg);
    background-size: 100% auto;
    background-attachment: fixed;
}


.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}


.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}









.form-control {
    display: block;
    width: 100%;
    height: 30px;
    padding: 4px 9px;
    font-size: 14px;
    line-height: 1.3;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 2px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.has-success .form-control {
    background-color: #e6ffe7;
    border-color: #3c763d;
}

.has-error .form-control {
    background-color: #ffe7ef;
    border-color: #a94442;
}

.form-control:focus, .form-control:active {
    background-color: #EDFDFF;
    border-color: #8a8ea9;
}

.nav-tabs > li > a {
    border-radius: 1px 1px 0 0;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    font-weight: bold;
}

h1 {
    color: #C70000;
    display: block;
    position: relative;
    margin-top: 0;
    padding: 5px 0px;
    margin-bottom: 20px;
    -moz-box-shadow: 0 2px 0 rgba(0, 0, 0, .3);
    -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, .3);
    box-shadow: 0 2px 0 rgba(0, 0, 0, .3);
}

h2, .h2 {
    font-size: 30px;
    padding: 3px 10px;
    display: inline-block;
    position: relative;
    z-index: 1000;
    margin-top: 0px;
}

h3, .h3 {
    font-size: 24px;
    color: #262626;
    padding: 2px 8px;
    display: inline-block;
    position: relative;
    z-index: 1000;
    margin-top: 0px;
}

h4, .h4 {
    color: #999;
}

#wraper {
    position: relative;
    min-height: 100%;
}

#main {
    padding-bottom: 80px;
    height: 100%;
}

header#header {
    margin-bottom: 10px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 80px;
    background-color: #000;
    border-top: 3px red solid;
    padding-top: 20px;
    z-index: 10000;
    color: #D0D0D0;
}


.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    background-color: #000000;
    border-color: #292929;
}

.pagination > li > a, .pagination > li > span {
    color: #000000;
}






.navbar-nav > li > .dropdown-menu {
    margin-top: -20px;
}




.im-logo {
    display: block;
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../images/logo.png);
    height: 85px;
    width: 120px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.im-logo:hover {
    text-decoration: none;
    opacity: 0.5;
}

.im-header-search-block {
    padding-top: 10px;
}

.select2-container--krajee .select2-selection {
    border: 1px solid #ccc;
    border-radius: 0px !important;
}

.select2-container--krajee .select2-selection--single .select2-selection__arrow {
    border-left: 1px solid #fff !important;
}

.header-cart {
    background-image: url("../../../images/cart.png");
    background-repeat: no-repeat;
}

.white-list {
    font-weight: bold;
    height: 40px;
    margin-top: 15px;
}

.header-cart .cart {
    float: left;
    font-weight: bold;
    margin-right: 20px;
    margin-left: 40px;
    height: 40px;
    margin-top: 15px;
}

#navbar-collapse-top {
    margin-left: -30px;
}

.alpha .navbar-nav > li > a {
    padding-top: 4px;
    padding-bottom: 5px;
}

h1.index-page {
    font-family: Sans-Serif;
    font-size: 90px;
    text-transform: uppercase;
    color: #000;
    font-weight: bold;
    text-align: center;

    -moz-box-shadow: none;
     -webkit-box-shadow: none;
     box-shadow: none;
}


.alpha .navbar-brand {
    float: left;
    height: 30px;
    padding: 5px 5px;
    font-size: 18px;
    line-height: 20px;
}

.alpha .nav > li > a {
    color: #fff;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.alpha .nav > li > a:hover {
    color: #676767;
}

.alpha .navbar-brand {
    color: #C1C1C1 !important;
    font-size: 20px;
}

.header-top {
    height: 90px;
    background-color: white;
}

.header-bottom {
    height: 30px;
    background-color: #000;
}

.top-menu {
    margin: 5px 0;
    padding: 3px 0;
    background-color: #f5f5f5;
}

.header-top-right {
    margin-left: 130px;
}

.top-block {

}

.content-inner {
    float: left;
}

.sidebar-left {
    float: left;
}

.sidebar-right {
    float: left;
}

@media (min-width: 1200px) {
    .sidebar-left, .sidebar-right {
        width: 210px;
    }

    .content-inner.width-full {
        width: 1100px;
    }

    .content-inner.width-50 {
        width: 720px;
    }

    .content-inner.width-66 {
        width: 930px;
    }

}

.im-index {
    margin-bottom: 150px;
}

.product-variation-item {
    cursor: pointer;
    display: inline-block;
    float: left;
    padding: 2px 3px;
    margin: 0 2px;
    border: 1px #ccc solid;
    background-color: #e2ffe3;
}

.product-variation-item:hover {
    border: 1px #628a5f solid;
    background-color: #beffbd;
}

.product-left-title {
    float: left;
    font-weight: bold;
    margin-right: 20px;
}

.product-modal-view {
    max-width: 1000px;
}

.product-price {
    padding: 5px;
    display: inline-block;
}

.product-price.price-old {
    color: #838383;
    font-size: 18px;
    text-decoration: line-through;
}

.product-price.price-sale {
    color: red;
    font-size: 22px;
}

.left-title {
    font-weight: bold;
    margin-right: 20px;
}

.product-variation-block {
    margin: 20px 0 20px 0;
}

.product-text {
    max-height: 200px;
    overflow-y: auto;
}

.image-nav-prev, .image-nav-next {
    position: absolute;
    width: 30px;
    text-align: center;
    height: 100%;
    z-index: 1000;
    cursor: pointer;
    opacity: 0.2;
    -webkit-transition: all ease-in-out .5s;
    -o-transition: all ease-in-out .5s;
    transition: all ease-in-out .5s;
}

.product-view-image {
    position: relative;
}

.product-view-image:hover .image-nav-prev, .product-view-image:hover .image-nav-next {
    opacity: 0.6;
}

.product-assoc:hover .image-nav-prev, .product-assoc:hover .image-nav-next {
    opacity: 0.6;
}

.image-nav-prev:hover, .image-nav-next:hover {
    color: #00aa00;
    opacity: 1;
}

.product-modal-view .image-nav-prev {
    left: -15px;
}

.product-modal-view .image-nav-next {
    right: -15px;
}

.image-nav-prev i, .image-nav-next i {
    top: 50%;
    position: relative;
}

.lineProduct {
    transition: all .25s ease;
    display: block;
    width: 2px;
    height: 2px;
    margin: 0px auto 5px;
    background-color: transparent;
}

div:hover > .lineProduct {
    width: 90%;
    background-color: #7d927c;
    box-shadow: 1px 1px 2px #ddd;
}

.ceil-price .discount {
    color: #8A8A8A;
}

.product-info .tab-pane {
    padding: 20px;
}

.top-menu-category, .top-menu-categories {
    width: 150px;
}

.top-menu-categories {
    margin-right: 20px;
    border-right: 1px #ccc solid;
}

.top-menu-category a, .top-menu-brand a {
    color: #4c4c4c;
    display: block;
    -webkit-transition: background 0.5s ease;
    -moz-transition: background 0.5s ease;
    -o-transition: background 0.5s ease;
    transition: background 0.5s ease;
}

.top-menu-category a:hover, .top-menu-brand a:hover {
    color: #000;
    text-decoration: none;
}

.top-menu-brands {
    -webkit-columns: 150px 2;
    -moz-columns: 150px 2;
    columns: 150px 2;
}

.top-menu-brand {

}

.navbar-nav > li > .dropdown-menu {
    z-index: 10000;
    padding-bottom: 20px;
}

.nav {
    -webkit-transition: background 0.5s ease;
    -moz-transition: background 0.5s ease;
    -o-transition: background 0.5s ease;
    transition: background 0.5s ease;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background-color: #ffffff;
    border-color: #337ab7;
    color: green;
}


#jBox-overlay {
    z-index: 10000 !important;
}

.jBox-Modal {
    z-index: 12000 !important;
}

.select2-dropdown, .select2-container--open {
    z-index: 12001 !important;
}

.alpha .nav > li.open > a {
    color: darkgreen;
}

.nav > li > a:focus {
    text-decoration: none;
    background-color: transparent;
}

.nav > li > a:hover {
    text-decoration: none;
    background-color: #eee;
}

/* общие стили для лент */
.corner-ribbon{
    z-index: 3;
    width: 200px;
    background: #e43;
    position: absolute;
    top: 25px;
    left: -50px;
    text-align: center;
    line-height: 25px;
    letter-spacing: 1px;
    color: #f0f0f0;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
/* фиксируем ленточки */
.corner-ribbon.sticky{

}
/* легкая тень */
.corner-ribbon.shadow{
    box-shadow: 0 0 3px rgba(0,0,0,.3);
}
/* позиции лент */
.corner-ribbon.top-left{ /* верхний угол слева */
    top: 25px;
    left: -50px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
.corner-ribbon.top-right{ /* верхний угол справа */
    top: 15px;
    right: -78px;
    left: auto;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
.corner-ribbon.bottom-left{ /* нижний угол слева */
    top: auto;
    bottom: 25px;
    left: -50px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
.corner-ribbon.bottom-right{ /* нижний угол справа */
    top: auto;
    right: -50px;
    bottom: 25px;
    left: auto;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
/* выбор цвета лент */
.corner-ribbon.white{background: #f0f0f0; color: #555;}
.corner-ribbon.black{background: #333;}
.corner-ribbon.grey{background: #999;}
.corner-ribbon.blue{background: #39d;}
.corner-ribbon.green{background: #2c7;}
.corner-ribbon.turquoise{background: #1b9;}
.corner-ribbon.purple{background: #95b;}
.corner-ribbon.red{background: #e43;}
.corner-ribbon.orange{background: #e82;}
.corner-ribbon.yellow{background: #ec0;}


.text-index-category-select {
    line-height: 300px;
    text-align: center;
    color: whitesmoke;
}
.text-index-category-select i {
    opacity: 0.8;
}
.img-men-shoes, .img-women-shoes {
    background-repeat: no-repeat;
    background-position: center;
    height: 300px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.img-men-shoes:hover, .img-women-shoes:hover {
    opacity: 0.5;
}

.img-men-shoes {
   background-image: url("../images/shoes-men.jpg");
}

.img-women-shoes {
    background-image: url("../images/shoes-women.jpg");
}

.im-index-page #im-grid {
    margin-left: 100px;
}

.header-top-right i {
    color: green;
}

.cart-modal i {
    color: white;
}

.select2-results__options i, .select2-selection i {
    color: darkgreen;
}

.select2-results__option--highlighted i {
    color: lightgreen;
}

.brand-banner {
    margin-top: -20px;
}

div.required label.control-label:after {
    content: " *";
    color: red;
}

.error-page-cube {
    height: 212px;
    background-image: url("../images/error.png");
    background-repeat: no-repeat;
    background-position: center;
    margin: 30px 0;
}

.alert {
    border-radius: 0px;
}
.site-error .alert {
    border-radius: 0px;
    font-size: 22px;
    text-align: center;
    color: #000;
}

.checkout-page-sidebar {
    padding-top:50px;
    padding-left:10px;
}

.dropdown .dropdown-menu {
    display: block;
    opacity: 0;
    visibility: hidden;

    -moz-transition:    all 250ms ease;
    -webkit-transition: all 250ms ease;
    -o-transition:      all 250ms ease;
    -ms-transition:     all 250ms ease;
    transition:         all 250ms ease;
}

.dropdown:hover .dropdown-menu {
    opacity:1;
    visibility: visible;
    display: block;
}


.index-page-banner a img{
    -moz-transition:    all 500ms ease;
    -webkit-transition: all 500ms ease;
    -o-transition:      all 500ms ease;
    -ms-transition:     all 500ms ease;
    transition:         all 500ms ease;
}

.index-page-banner:hover a img{
    opacity: 0.8;
}

.red-link {
    color: red;
    -moz-transition:    all 500ms ease;
    -webkit-transition: all 500ms ease;
    -o-transition:      all 500ms ease;
    -ms-transition:     all 500ms ease;
    transition:         all 500ms ease;
}

.red-link:hover {
    color: #7f0000;
}